iframe{
    width: 100%;
    height: 100%;
}
.layui-body{
    overflow: hidden;
}

.text-avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #009688;
    text-align: center;
    font-size: 20px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.layui-nav-img{
    width: 40px;
    height: 40px;
}

.userinfo{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.iconfont{
    margin-right: 8px;
}

.layui-side-scroll .userinfo{
    border-bottom: 1px solid #282b33;
}

.layui-footer{
    text-align: center;
    font-size: 8px;
}

.layui-icon{
    margin-right: 8px;
  margin-left: 20px; 
}

body{
    background-color: #eee;
}